<div class="container mt-4">
  <h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
      <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
      <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
    </svg> Actualizar estado de orden
  </h2>
  
  <!--Busqueda de Orden-->
  <div class="mb-3">
    <label>Número de seguimiento</label>
    <input type="text" class="form-control" [(ngModel)]="numeroOrden">
    <button class="btn btn-info mt-2" (click)="buscarEstadoActual()">Buscar orden</button>
  </div>

  <!--Div que aparece si se enceuntra la Orden-->
  <div *ngIf="foundOrder">
    <br>
    <!--Información del paquete que se desea actualizar-->
    <div class="card">
      <div class="card-body">
        <h5>Información de la Orden</h5>
        <label for=""><strong>Orden No.</strong> {{ numOrden }}</label><br>
        <label class=""><strong>Nombre:</strong> {{ nombre }}</label><br>
        <label class=""><strong>Dirección:</strong> {{ direccion }}</label><br>
      </div>
    </div>
    <br>
    <!--Para seleccionar nuevo estado-->
    <div class="mb-3">
      <label>Nuevo estado</label>
      <select class="form-select" [(ngModel)]="selectedStatus">
          <option *ngFor="let status of opcionesEstado; let i = index" [value]="status" [disabled]="i === 0" [ngClass]="{ 'text-muted': i === 0 }">{{ status }}</option>
      </select>
    </div>
    <!--Ingresar el nombre del responsable-->
    <div class="mb-3">
      <label>Responsable</label>
      <input type="text"class="form-control" [(ngModel)]="responsableActual" required pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ ]+$">
    </div>
    <!--Ingresar comantario de la Actualización-->
    <div class="mb-3">
      <label>Comentario</label>
      <textarea class="form-control" [(ngModel)]="comentarioActual" required minlength="20" maxlength="40"></textarea>
    </div>
    <!--Boton de Actualizacion-->
    <button class="btn btn-success" (click)="updateStatus()">Actualizar</button>
  </div>
  
  <!--Mensaje informativo-->
  <div class="mt-3" *ngIf="infoMessage">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
    </svg><strong>{{ infoMessage }}</strong>
  </div>
  
  <!--Botones para navegar -->
  <div class="row">
    <button class="btn btn-secondary col-5 d-block d-sm-none " (click)="navegateSeguimientoOrden()">Seguimiento de Paquete</button>
  <button class="btn btn-secondary col-5 d-block d-sm-none " (click)="navegateOrdenesList()">Ver todas las órdenes</button>
 
  </div>
  
</div>
